.hero {
  position: absolute;
  top: 10vh;
  right: 0;
  bottom: 0;
  left: 10vw;
  overflow: hidden;
  background-color: red;
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius:50%;
}

.hero img:first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -51.5%) scale(1.7);
  width: auto;
  height: 300px;
}

.hero img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: auto;
}